/* h1{
    background-color: aquamarine;
    color: red;
    font-weight: larger; */
    
/* } */
button{
    background-color: black;
    border: 4px solid silver;
    color: white;
    border-radius: 4px;
}
*{
    background-color: black;
    color: white;
}
h3{
    color: white;
    font-size: 20px;
}